// $primary: blue;
$progress-bar-background-color: #1d2a2b !default;
$progress-value-background-color: #56dfbf !default;
$progress-border-radius: 0px !default;
$progress-indeterminate-duration: 1.5s !default;

@import "~bulma/bulma";

@font-face {
    font-family: 'fc_activeregular';
    src: url('fonts/fc_active_regular-webfont.woff2') format('woff2'),
         url('fonts/fc_active_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fc_activeregular';
    src: url('fonts/fc_active_regular-webfont.woff2') format('woff2'),
         url('fonts/fc_active_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body, html{
    font-family: 'fc_activeregular';
    background: $black;
    color: #fff;
    background: #2a2a2a;
    font-size:20px;
}
.header{
    .columns{
        background: #293b3d;
        border-bottom:3px solid #607072;
        color: #fff;
        padding: 13px 30px 0px 30px;
        .column{
            font-size: 1.5em;
            padding: 0px;
        }
    }
}
.message-box{
    margin-top: -10px;
    font-size:1.5em;
}
.online{
    color: $green;
}
.offline{
    color: $red;
}
.timer{
    text-align: center;
    font-size: 7em;
    &.is-danger{
        color: hsl(348, 100%, 61%);
    }
}
.menu{
    position: fixed;
    left: 0;
    bottom: 30px;
    width: 100%;
    // color: white;
    text-align: center;
    padding:10px 30px;
    .outer{
        padding:5px;
        button{
            // margin: 6px;
            width:100%;
            padding:10px;
            border:0px;
            color: #fff;
            background: #2f3437;
            border:2px solid #fff;
            line-height: 1.5em;
            .title-btn{
                padding: 0px;
                height: 25px;
                margin-top: -10px;
                font-size: 20px;
            }
            // &.penalty{
            //     background: $red;
            // }
            // &.machine{
            //     background: $green;
            // }
            // &.code{
            //     background: $yellow;
            // }
            // &.hint{
            //     background: $blue;
            // }
            // &.review{
            //     background: $grey;
            // }
            // &.help-staff{
            //     background: #ccc;
            // }
            // &.white{
            //     display: block;
            //     // height:100%;
            //     background:#fff;
            // }
            &:disabled{
                color: #ccc;
                opacity: 0.5;
            }
        }
    }
}
.menu button{
    font-family: 'fc_activeregular';
    font-size: 1.5rem;
    clear:both;
    svg{
        clear:both;
    }
}
.swal2-styled {
    font-family: 'fc_activeregular';
}
.puzzle{
    background: white;
    padding:10px;
    .table{
        margin:0 auto;
        td{
            // width:14%;
            border:0px;
            font-size:20px;
            text-align: center;
        }
    }
    .puzzle-footer{
        margin-top: 10px;
    }
    .correctBox{
        text-align: center;
        h2{
            font-size:1.5em;
            color: $green;
        }
    }
    
}
.musicbox{
    background: #fff;
    padding:10px;
    .checkbox-round {
        width: 2.3em;
        height: 2.3em;
        background-color: white;
        border-radius: 50%;
        vertical-align: middle;
        border: 1px solid #ddd;
        -webkit-appearance: none;
        outline: none;
        cursor: pointer;
        margin-top:8px;
    }
    .checkbox-round:checked {
        background-color: $green;
    }
    .result{
        padding-bottom: 10px;
    }
    .correctBox{
        text-align: center;
        h2{
            font-size:1.5em;
            color: $green;
        }
    }
}
#scoreboard{
    padding: 20px;
    .timer{
        .inner-time{
            margin-top: -60px;
            font-size: 6rem;
        }
    }
    .teams{
        .title-team{
            font-size: 2em;
        }
        .columns{
            .column{
                -webkit-box-flex: 0;
                -ms-flex: none;
                flex: none;
                width: 20%;
            }
        }
        .lock-box{
            border:5px solid #ccc;
            &.lock{
                border-color: #5a5a5a;
                color: #e0e0e0;
            }
            &.unlock{
                border-color: #56dfbf;
                color: #56dfbf;
            }
            border-radius: 50%;
            display: block;
            width: 140px;
            height: 140px;
            margin: 0 auto;
            padding-top:60px;
            .icon{
                font-size: 1.5rem;
                margin-top: -10px;
            }
        }
        .columns.score{
            .column{
                font-size: 1.2rem;
                width: 50%;
            }
        }
    }
}
.swal2-modal{
    background: rgba(46,59,68,0.9) !important;
    border:3px solid #6f7887 !important;
    color: #fff !important;
    border-radius: 0px;
    .swal2-title{
        color: #fff !important;
    }
    .swal2-content{
        color: #fff !important;
        input{
            border-radius: 0px;
            border:2px solid #fff !important;
        }
    }
    .swal2-confirm{
        background: transparent;
        border-radius: 0px;
        border:2px solid #fff !important;
    }
    .swal2-cancel{
        background: transparent;
        border-radius: 0px;
        border:2px solid #6f7887 !important;
    }

}
.progress-box{
    width: 70%;
    margin:0 auto;
    margin-top:-40px;
    margin-bottom: 40px;
    .progress{
        border-radius: 0px;
        border:1px solid rgba(255,255,255,0.5);
    }
}