// $primary: blue;
@import "~bulma/bulma";

@font-face {
    font-family: 'db_admanrounded_x';
    src: url('fonts/db_admanrounded_x_bd_v3.2-webfont.woff2') format('woff2'),
         url('fonts/db_admanrounded_x_bd_v3.2-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}
@font-face {
    font-family: 'db_admanrounded_x';
    src: url('fonts/db_admanrounded_x_v3.2-webfont.woff2') format('woff2'),
         url('fonts/db_admanrounded_x_v3.2-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
    font-family: 'db_admanrounded_x';
}
.timer{
    text-align: center;
    font-size: 8em;
}
.menu{
    position: fixed;
    left: 0;
    bottom: 12px;
    width: 100%;
    // color: white;
    text-align: center;
}
.menu button{
    font-family: 'db_admanrounded_x';
    font-size: 1.5rem;
    clear:both;
    svg{
        clear:both;
    }
}
.swal2-styled {
    font-family: 'db_admanrounded_x';
}
.puzzle{
    background: white;
    padding:10px;
    .table{
        margin:0 auto;
        td{
            // width:14%;
            border:0px;
            font-size:20px;
            text-align: center;
        }
    }
    .puzzle-footer{
        margin-top: 10px;
    }
    .correctBox{
        text-align: center;
        h2{
            font-size:1.5em;
            color: $green;
        }
    }
    
}
.musicbox{
    background: #fff;
    padding:10px;
    .checkbox-round {
        width: 2.3em;
        height: 2.3em;
        background-color: white;
        border-radius: 50%;
        vertical-align: middle;
        border: 1px solid #ddd;
        -webkit-appearance: none;
        outline: none;
        cursor: pointer;
        margin-top:8px;
    }
    .checkbox-round:checked {
        background-color: $green;
    }
    .result{
        padding-bottom: 10px;
    }
    .correctBox{
        text-align: center;
        h2{
            font-size:1.5em;
            color: $green;
        }
    }
}